@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-image: url(./big-background.png);
}
.hero {
  background-image: url(./background-hero.png);
  background-size: cover;
  padding-bottom: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav img {
  width: 80px;
  height: 15px;
  margin: 20px;
}
.menu {
  display: none;
}
.menu a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-family: "Rubik", sans-serif;
  color: white;
  margin: 30px 20px 10px 25px;
  font-weight: 500;
}
h2 {
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}
h3 {
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: 27px;
  font-weight: 500;
}
h4 {
  font-family: "Rubik", sans-serif;
  color: white;
  margin: 0px 25px;
  font-weight: 400;
}
p {
  color: white;
  font-family: "Roboto Mono", monospace;
}
.white-logo {
  display: block;
  width: 80px;
  margin: 25px auto 10px;
}
.nektar-logo {
  width: 100px;
}
.qs-text {
  margin: 30px;
}
.qs-text p {
  margin-top: 20px;
  font-weight: 100;
}
.lap-top-img {
  display: block;
  margin: 0 auto;
  width: 200px;
}
.quienes-somos {
  position: relative;
}
.bubble-background {
  width: 410px;
  position: absolute;
  top: 350px;
  z-index: -1;
}
#Nuestros-servicios {
  margin: 10px;
}
.panel {
  background-color: #140e39;
  border-radius: 20px;
  padding: 35px;
  margin: 22px;
}
.panel p {
  margin-top: 15px;
  font-weight: 300;
}
ul li {
  color: white;
  font-family: "Roboto Mono", monospace;
  list-style: none;
  list-style-type: "-";
  margin: 10px;
}

.panel h3 {
  text-align: right;
  margin-right: 22px;
}
.big-panel {
  background-color: #140e39;
  border-radius: 20px;
  padding: 35px;
  margin: 22px;
}
.big-panel img {
  width: 250px;
  margin: 50px auto;
  display: block;
}
.big-panel h3 {
  margin: 45px 0 10px 0;
}
.small-panel {
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  background: rgb(0, 0, 38);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 38, 1) 0%,
    rgba(63, 42, 117, 1) 100%
  );
}
.small-panel img {
  display: block;
  width: 200px;
  margin: 20px auto;
}
.n-c-footer p {
  margin-left: 10px;
}
.formulario {
  margin: 20px;
}
label {
  line-height: 26px;
}

textarea {
  color: white;
  padding: 10px;
  margin: 5px;
  background-color: transparent;
  border-color: white;
  border-radius: 20px;
  width: 250px;
  box-shadow: none;
  border-style: solid;
}
input {
  background-color: transparent;
  border-color: white;
  border-radius: 20px;
  width: 140px;
  height: 23px;
  color: white;
  box-shadow: none;
  border-style: solid;
  margin: 2px;
  padding: 5px;
  padding-left: 5px;
}

input::placeholder,
textarea::placeholder {
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  opacity: 1;
  margin: 10px;
}
button {
  display: flex;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  justify-content: center;
  border-radius: 10px;
  border-width: 1px;
  background-color: #3f2a75;
  box-shadow: none;
  border: none;
  color: white;
  font-size: 20px;
  padding: 5px;
  width: 25%;
}

@media only screen and (min-width: 1060px) {
  #quienes-somos {
    display: flex;
  }
  nav img {
    width: 150px;
    height: 30px;
    margin: 20px;
  }
  .lap-top-img {
    width: 100px;
  }
  .menu {
    margin-top: 20px;
    display: flex;
  }
  .menu a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-family: "Roboto Mono", monospace;
  }
}
